@{
    ViewData["Title"] = "Utilize esta contraseña para ingresar al examen";
}
<h1>@ViewData["Title"]</h1>

<tr>
    Se le otorgo la contraseña unica: @ViewBag.password . Por favor, utilize este contraseña para entrar al examen.
</tr>
