@{
    ViewData["Title"] = "Por favor, ingrese la contraseña de examen";
}
<h1>@ViewData["Title"]</h1>


@using (Html.BeginForm("EnterExamen", "Home", FormMethod.Post))
{
    <table cellpadding="2" cellspacing="0" border="0">
        <tr>
            <td>Contraseña</td>
            <td>
                @Html.TextBox("password")
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}